# API 실행에 필요하지 않은 파일 
train.py
evaluate.py
predict_and_memory.py
input_data.json

# 특정 설정 파일들 제외
#configs/enviroment.py
configs/hyperparams.yaml

# 데이터
data/dataset.py

# 모델 학습 및 평가 파일들 제외
models/model.py
models/utils.py

# 유틸리티 파일들 제외
utils/